:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: grey;
  --hover:#171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color:var(--secondary);
  border: none; /* Remove default border */
  border-radius: 5px;
  color: white; /* White text */
  padding: 15px 32px; /* Padding inside the button */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allow padding and width */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Change cursor on hover */
   transition: background-color .6s;
}
button:hover {
  background-color: var(--hover);
}

input {
  color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.center {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

}

.error {
  color: red;
  font-weight: 700;
}

.history {
  margin-top: 10px;
  background-color: var(--secondary);
  border-radius: 5px;
   transition: background-color 1.6s;
}
.history:hover {
  background-color: black;
}